/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

body {
  background-color: #1d1f21 !important;
  color: #e6e6e6 !important;
}

.card {
  background-color: #2b2d2f !important;
  color: #ffffff !important;
  border-color: #444 !important;
}

.card .card-footer {
  background-color: #242526 !important;
  border-top-color: #444 !important;
}

html, body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}